* {
    box-sizing: border-box;
}

:root {
    --cor-primaria: #6E07F3;
    --cor-secundaria: #ccf381;
    --cor-terciaria: #F9F9F9;
    --cor-quarta: #3d155f;
    --cor-texto: #141c3a;
    --font-destaque: 'Kablammo', cursive;
    --font-titulo: 'Krona One', sans-serif;
    --font-texto: 'Montserrat', sans-serif;
}

/* CABECALHO */
.cabecalho {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8rem;
    padding: 0 6%;
    background-color: var(--cor-terciaria);
}

.cabecalho__logo {
    z-index: 2;
    font-family: var(--font-destaque);
    color: var(--cor-primaria);
    font-size: 2.5rem;
}

.cabecalho__icon {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    width: 40px;
    height: 24px;
    background-color: transparent;
    transition: transform 0.3s, opacity 0.3s;
    cursor: pointer;
}

.icon__span {
    width: 90%;
    height: 2px;
    background-color: var(--cor-primaria);
    transition: ease 0.3s;
}

/* CABECALHO MENU VERSÃO RESPONSIVA E DESKTOP */
.cabecalho__menu {
    z-index: 1;
    display: none;
}

@media (max-width:700px) {
    .cabecalho__menu.active {
        background-color: var(--cor-secundaria);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 9%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        animation: fadeInDown 0.5s;
    }
}

@media (min-width:700px) {
    .cabecalho__menu.active {
        position: absolute;
        right: 5%;
        top: 2.3rem;
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 4%;
        background-color: var(--cor-secundaria);
        animation: fadeIn 0.5s;
    }
}

/* ICON MENU TRANSFORM */
.cabecalho__icon.active span:nth-child(2) {
    opacity: 0;
}

.cabecalho__icon.active span:first-child {
    transform: translateY(10px) rotate(45deg);
}

.cabecalho__icon.active span:last-child {
    transform: translateY(-10px) rotate(-45deg);
}

/* MAIN */
/* SECAO1 INTRODUCAO */

.introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-terciaria);
}

.introducao__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 100px 3%;
    color: var(--cor-texto);
}

.introducao__conteudo__titulo {
    text-align: center;
    font-family: var(--font-titulo);
    font-size: 2.5rem;
    margin-bottom: 30px;

}

.introducao__conteudo__subtitulo {
    max-width: 600px;
    text-align: center;
    font-family: var(--font-texto);
    font-weight: 400;
    font-size: 1.3rem;
}

.introducao__imagem {
    margin: 70px 0;
    max-width: 30%;
    border-radius: 90%;
}

.introducao__svg {
    max-width: 60%;
}

@media (max-width:650px) {
    .introducao__conteudo__titulo {

        font-size: 1.5rem;

    }

    .introducao__conteudo__subtitulo {
        max-width: 600px;
        text-align: center;
        font-family: var(--font-texto);
        font-weight: 400;
        font-size: 1.2rem;
    }

    .introducao__imagem {
        margin: 70px 0 0 0;
        max-width: 60%;
        border-radius: 90%;
    }

    .introducao__svg {
        max-width: 100%;
    }
}

/* SECAO2 sobremim */

.sobremim {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
}

.sobremim__conteudo {
    width: 60%;
    padding: 150px 0;
    color: var(--cor-terciaria);
}

.sobremim__conteudo__titulo {
    margin-bottom: 30px;
    font-family: var(--font-titulo);
    font-size: 2rem;
    text-align: center;
}

.sobremim__conteudo__subtitulo {
    font-family: var(--font-texto);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

@media (max-width:650px) {
    .sobremim__conteudo__titulo {
        font-size: 1.8rem;
    }

    .sobremim__conteudo__subtitulo {
        font-size: 1.1rem;
    }

    .sobremim__conteudo {
        width: 80%;
        padding: 130px 0;
    }
}

/* SECAO3 HABILIDADES */

.habilidades {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, var(--cor-primaria) 30%, var(--cor-terciaria) 20%);
}

.habilidades__container {
    max-width: 1300px;
    border-radius: 12px;
    background-color: #e0e0e0;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.41);
}

.habilidades__container__titulo {
    font-family: var(--font-titulo);
    color: var(--cor-texto);
    font-size: 2.2rem;
    text-align: center;
    padding: 70px 0;
}

.habilidades__container__caixa {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.habilidades__container__caixa__backend,
.habilidades__container__caixa__frontend {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background: #e0e0e0;
    box-shadow: 15px -15px 25px #a8a8a8,
        -15px 15px 25px #ffffff;
    width: 40%;
    margin-bottom: 90px;
}

.habilidades__container__caixa__backend h1,
.habilidades__container__caixa__frontend h1 {
    margin-top: 30px;
    font-family: var(--font-titulo);
    text-align: center;
    font-size: 1.3rem;
}

.habilidades__container__caixa__backend h2,
.habilidades__container__caixa__frontend h2 {
    padding: 0 10%;
    margin-top: 30px;
    font-family: var(--font-texto);
    font-weight: 600;
    text-align: center;
}

.habilidades__p__1,
.habilidades__p__1 {
    margin-top: 30px;
    font-family: var(--font-texto);
    text-align: center;
}

.habilidades__p__2,
.habilidades__p__2 {
    font-family: var(--font-texto);
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
    line-height: 25px;
}

@media (max-width:700px) {
    .habilidades__container__titulo {
        font-size: 2rem;
    }

    .habilidades__container__caixa {
        flex-direction: column;
    }

    .habilidades__container__caixa__backend,
    .habilidades__container__caixa__frontend {
        padding: 40px;
        width: 80%;

    }
}

/* SECAO4 PROJETOS */

.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0;
    background-color: var(--cor-terciaria);
}

.projetos__titulo {
    text-align: center;
    font-family: var(--font-titulo);
    font-size: 2rem;
    color: var(--cor-quarta);
    margin-bottom: 27px;
}

.projetos__subtitulo {
    max-width: 800px;
    text-align: center;
    font-family: var(--font-texto);
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--cor-quarta);
}

.projetos__container {
    padding: 100px 0;
    width: 97%;
    display: flex;
    flex-wrap: wrap;
}

.projetos__container__projeto {
    width: 33%;
    padding: 13px;
}

.projetos__container__projeto figure {
    position: relative;
}

.projetos__container__projeto figure img {
    width: 100%;
    border-radius: 12px;

}

.projetos__container__projeto figure figcaption {
    opacity: 0;
    transition: all 0.2s ease-in;
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--font-texto);
    font-weight: 600;
    background-color: var(--cor-texto);
    color: var(--cor-terciaria);

}

.projetos__container__projeto figure figcaption:hover {
    opacity: 1;
}

.projetos__container__projeto figure figcaption h1 {
    font-size: 1.5rem;
}

.projetos__container__projeto figure figcaption a {
    color: var(--cor-terciaria);
    padding: 10px;
    border: var(--cor-secundaria) solid 2px;
    border-radius: 50px;
    transition: all .2s ease-in-out;
}

.projetos__container__projeto figure figcaption a:hover {
    color: var(--cor-quarta);
    background-color: var(--cor-secundaria);
}

@media(max-width:1000px) {
    .projetos__container__projeto {
        width: 50%;
    }
}

@media(max-width:600px) {
    .projetos__container__projeto {
        width: 100%;
    }
}

@media(min-width:1300px){
    .projetos__container {
        width: 1250px
    }
}

/* CODIGO DO BOTAO */
.button2 {
    cursor: pointer;
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
}

.button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
        inset -4px -4px 12px #ffffff;
}

.button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: var(--cor-primaria);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button2:hover {
    color: #ffffff;
    border: 1px solid var(--cor-primaria);
}

.button2:hover:before {
    top: -35%;
    background-color: var(--cor-primaria);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
    top: -45%;
    background-color: var(--cor-primaria);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/*  SECAO5 CONTATO */
.contato {
    background: linear-gradient(180deg, var(--cor-terciaria) 50%, var(--cor-primaria) 50%);
}

.contato__container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1250px;
    padding: 60px;
    border-radius: 15px;
    background-color: var(--cor-texto);
}

.contato__container__titulo {
    text-align: center;
    font-family: var(--font-titulo);
    font-size: 1.5rem;
    color: var(--cor-terciaria);
}

.contato__container__subtitulo {
    max-width: 380px;
    text-align: center;
    line-height: 25px;
    font-family: var(--font-texto);
    font-weight: 600;
    color: var(--cor-terciaria);
}

.contato__container__botao {
    padding: 20px;
    text-align: center;
    color: var(--cor-terciaria);
    font-family: var(--font-texto);
    font-weight: 600;
    font-size: 1.1rem;
    border: var(--cor-secundaria) solid 2px;
    border-radius: 30px;
    transition: all .2s ease-in-out;
    ;
}

.contato__container__botao:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
}

@media(max-width:1050px) {
    .contato__container {
        flex-direction: column;
        margin: 0 3%;
        padding: 30px 15px;
    }

    .contato__container__subtitulo {
        padding: 50px 0;
        line-height: 20px;
    }
}

/* FOOTER / RODAPE */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
}

.footer__logo {
    font-family: var(--font-destaque);
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.footer__subtitulo {
    width: 300px;
    text-align: center;
    font-family: var(--font-texto);
    font-size: 1.4rem;
    opacity: 0.9;

}

.footer__sociais {
    margin: 60px 0;
}

.footer__sociais__i {
    box-sizing: content-box;
    width: 25px;
    margin: 0 3px;
    padding: 11px;
    border: var(--cor-terciaria) solid 2px;
    border-radius: 20px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.whatsapp:hover {
    background-color: #25D366;
}

.linkedin:hover {
    background-color: #0077b5;
}

.instagram:hover {
    background-color: #dd2a7b;
}

.github:hover {
    background-color: #171515;
}

.footer__div__copyrite {
    display: flex;
}

.footer__copyrite {
    margin-left: 5px;
    font-family: var(--font-texto);

}

/* ESTILIZANDO A SCROLL BAR */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-texto);
}